@charset "utf-8";
/* CSS Document */

.woc_section {
    padding: 10px;
}

.woc_section .woc_section_inline {
    display: inline-block;
    vertical-align: top;
}

.woc_section .woc_section_title {
    font-size: 14px;
    width: 15%;
    min-width: 120px;
    font-weight: 500;
}

.woc_section .woc_section_hint {
    background: #32373c;
    color: #fff;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 11px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.woc_section .woc_section_inputs {
    margin-left: 15px;
    width: 75%;
    min-width: 320px;
}

.woc_section .woc_section_inputs input[name=post_title] {
    width: 100%;
    min-width: 320px;
    height: 50px;
}

.woc_section .woc_section_inputs input,
.woc_section .woc_section_inputs input:focus,
.woc_section .woc_section_inputs input:active {
    border: none;
    border: 1px solid #9e9e9e;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 4px;
}

.woc_section .woc_section_inputs textarea,
.woc_section .woc_section_inputs textarea:focus,
.woc_section .woc_section_inputs textarea:active {
    border: none;
    border: 1px solid #9e9e9e;
    outline: none !important;
    box-shadow: none !important;
    resize: none;
    width: 100%;
    min-width: 320px;
    height: 80px;
    border-radius: 4px;
}

.woc_section .woc_section_inputs input::placeholder,
.woc_section .woc_section_inputs textarea::placeholder {
    color: #9e9e9e;
}

.woc_section .woc_repeats .emp_repeat_label {
    width: 100px;
    display: inline-block;
    vertical-align: top;
}

.woc_section .woc_days .woc_day {
    margin-bottom: 20px;
}

.woc_section .woc_days .woc_day .woc_day_header {
    user-select: none;
    -webkit-user-select: none;
    padding: 15px;
    cursor: pointer;
    background: #de792b2e;
    border-radius: 5px;
}

.woc_section .woc_days .woc_day.woc_day_active .woc_day_header {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.woc_section .woc_days .woc_day .woc_day_content {
    padding: 10px;
    border: 1px solid #de792b2e;
    border-top: none;
    display: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #f1f1f12e;
}

.woc_section .woc_day_content .woc_repeat {
    background: #e8e8e8;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    animation: animateElement linear .3s;
    animation-iteration-count: 1;
}

@keyframes animateElement {
    0% {
        opacity: 0;
        transform: translate(0px, 10px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.woc_section .woc_day_content .woc_repeat label {
    width: 60px;
}

.woc_section .woc_day_content .woc_repeat input {
    width: 100px;
}

.woc_section .woc_day_content .woc_repeat label,
.woc_section .woc_day_content .woc_repeat input {
    display: inline-block;
    vertical-align: middle;
    background: transparent;
    margin-right: 15px;
}

.woc_section .woc_day_content .woc_repeat_actions {
    color: #fff;
    padding: 3px 6px;
    border-radius: 3px;
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.woc_section .woc_day_content .woc_repeat_sort {
    background: #32988e;
    cursor: move;
}

.woc_section .woc_day_content .woc_repeat_remove {
    background: #de482b;
}

.woc_section .woc_day_content .woc_repeat_copy {
    background: #9E9E9E;
}

/* Section Mini Style */

.woc_section_mini .woc_section_title {
    width: 35%;
    min-width: 90px;
    margin-bottom: 10px;
}

.woc_section_mini .woc_section_inputs {
    width: 50%;
    min-width: 120px;
}

.woc_section_mini input,
.woc_section_mini textarea {
    min-width: 100px !important;
    width: 100% !important;
}

/* Metabox Publish */

.woc_current_time {
    font-size: 16px;
    line-height: 25px;
    border-radius: 5px;
    color: #e48b07;
    font-weight: 300;
}

.woc_note {
    color: #6d630d;
    font-size: 13px;
    font-weight: 400;
    background: #e8e5c9;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 3px;
    margin-top: 15px;
    cursor: help;
}