@charset "utf-8";
/* CSS Document */


.post-type-woc_hour #submitdiv {
    margin-top: 20px;
}

.post-type-woc_hour .postbox {
    border: none !important;
}

.post-type-woc_hour .postbox-header .handle-actions {
    display: none !important;
}

#woc_metabox .hndle.ui-sortable-handle,
.post-type-woc_hour #submitdiv .hndle.ui-sortable-handle,
#woc_metabox_message .hndle.ui-sortable-handle,
#woc_metabox_status .hndle.ui-sortable-handle {
    background-image: linear-gradient(100deg, #f26798 0%, #6b6b6b 100%);
    font-size: 18px;
    line-height: 18px;
    padding: 20px;
    border: none;
    color: #fff;
}

#woc_metabox .hndle.ui-sortable-handle span,
.post-type-woc_hour #submitdiv .hndle.ui-sortable-handle,
#woc_metabox_message .hndle.ui-sortable-handle span,
#woc_metabox_status .hndle.ui-sortable-handle span {
    color: #fff !important;
}

#woc_metabox .toggle-indicator,
.post-type-woc_hour #submitdiv .hndle.ui-sortable-handle,
.post-type-woc_hour #submitdiv .toggle-indicator,
#woc_metabox_message .toggle-indicator,
#woc_metabox_status .toggle-indicator {
    color: #fff !important;
}

.woc_switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.woc_switch input {
    display: none !important;
}

.woc_switch_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #da245c;
    -webkit-transition: .4s;
    transition: .4s;
}

.woc_switch_slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .woc_switch_slider {
    background-color: #1dbf73;
}

input:focus + .woc_switch_slider {
    box-shadow: 0 0 1px #1dbf73;
}

input:checked + .woc_switch_slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.woc_switch_slider.woc_switch_round {
    border-radius: 34px;
}

.woc_switch_slider.woc_switch_round:before {
    border-radius: 50%;
}

a.wooopenclose-plugin-meta-buy {
    color: #E91E63 !important;
    font-weight: 700;
}

#wp-admin-bar-wooopenclose-shop-close,
#wp-admin-bar-wooopenclose-shop-close:hover,
#wp-admin-bar-wooopenclose-shop-close:active,
#wp-admin-bar-wooopenclose-shop-close:focus,
#wp-admin-bar-wooopenclose-shop-close .ab-empty-item,
#wp-admin-bar-wooopenclose-shop-close:hover .ab-empty-item,
#wp-admin-bar-wooopenclose-shop-close:active .ab-empty-item,
#wp-admin-bar-wooopenclose-shop-close:focus .ab-empty-item {
    background: #ff5722 !important;
    color: #fff !important;
    cursor: pointer;
}

#wp-admin-bar-wooopenclose-shop-open,
#wp-admin-bar-wooopenclose-shop-open:hover,
#wp-admin-bar-wooopenclose-shop-open:active,
#wp-admin-bar-wooopenclose-shop-open:focus,
#wp-admin-bar-wooopenclose-shop-open .ab-empty-item,
#wp-admin-bar-wooopenclose-shop-open:hover .ab-empty-item,
#wp-admin-bar-wooopenclose-shop-open:active .ab-empty-item,
#wp-admin-bar-wooopenclose-shop-open:focus .ab-empty-item {
    background: #1d9085 !important;
    color: #fff !important;
    cursor: pointer;
}


.woc_hour_page_woc-open-close fieldset {
    display: inline-block;
}

.woc_hour_page_woc-open-close .nav-tab-wrapper {
    position: relative;
}

.wooopenclose-quick-switch {
    width: 80px;
    height: 34px;
}

.wooopenclose-quick-switch input {
    display: none;
}

.wooopenclose-quick-switch-bubble {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #da245c;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.wooopenclose-quick-switch-bubble:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.wooopenclose-quick-switch input:checked + .wooopenclose-quick-switch-bubble {
    background-color: #1dbf73;
}

.wooopenclose-quick-switch input:focus + .wooopenclose-quick-switch-bubble {
    box-shadow: 0 0 1px #1dbf73;
}

.wooopenclose-quick-switch.disabled > span {
    background-color: #9e9e9e !important;
}

.wooopenclose-quick-switch input:checked + .wooopenclose-quick-switch-bubble:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
}

.wooopenclose-quick-switch:after {
    white-space: pre-wrap !important;
    width: 320px;
    font-size: 16px !important;
    line-height: 26px !important;
}

a.wooopenclose-notice-link,
a.wooopenclose-notice-link:active,
a.wooopenclose-notice-link:focus,
a.wooopenclose-notice-link:visited {
    float: right;
    text-decoration: none;
    background: #E91E63;
    color: #fff;
    padding: 2px 10px;
    border-radius: 50px;
    font-size: 12px;
    margin-top: -2px;
    outline: none;
    box-shadow: none;
}

.wooopenclose-shortcode {
    background: #f1f1f1;
    border: 1px solid #a2a2a2;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 13px;
    color: #868686;
}


/**
 * Post column
 */

.post-type-woc_hour a.page-title-action,
.post-type-woc_hour a.page-title-action:focus,
.post-type-woc_hour a.page-title-action:active,
.post-type-woc_hour a.page-title-action:visited {
    background: #e28f15 !important;
    color: #fff !important;
    border: none !important;
    padding: 10px 18px !important;
    border-radius: 100px !important;
    font-weight: 500 !important;
    outline: none !important;
    box-shadow: none !important;
}

.post-type-woc_hour ul.subsubsub {
    margin-top: 20px;
    margin-bottom: 10px;
}

.post-type-woc_hour .wp-list-table {
    border: none !important;
    box-shadow: 0 0 30px 5px rgb(0 0 0 / 0.11) !important;
}

.post-type-woc_hour .search-box,
.post-type-woc_hour .tablenav.top,
.post-type-woc_hour .tablenav.bottom,
.post-type-woc_hour .wp-list-table > thead,
.post-type-woc_hour .wp-list-table > tfoot {
    display: none !important;
}

.post-type-woc_hour .wp-list-table > tbody > tr > td {
    padding: 16px !important;
}

/**
 * Admin Preloader
 */

.wooopenclose-loader-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    background: #f3f3f3;
    top: 0;
    left: 0;
}

.wooopenclose-loader {
    background: #f3f3f3;
    border: 5px solid #cacaca;
    border-top: 5px solid #f6405f;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    box-shadow: 0 0 30px 10px #0000002b;
    position: fixed;
    z-index: 9999999;
    top: calc(50% - 20px);
    right: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}