@charset "utf-8";
/* CSS Document */


@import url('display-schedule.css');


#woc_alert_bar_message {
    background: #DE5145;
    padding: 5px;
    color: #fff;
    font-size: 18px;
    position: fixed;
    left: 0;
    width: 100%;
	z-index:999999;
}

#woc_alert_bar_message span {
    display: inline-block;
}

#woc_alert_bar_message span#woc_hide_alert_bar {
    background-color: #fff;
    color: #DE5145;
    padding: 3px 20px;
	border-radius:4px;
    cursor: pointer;
	font-weight:bold;
}






.woc_alert_box_container {
	-webkit-user-select:none;
}

.woc_alert_box_container {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 999999;
}

.woc_alert_box_container .woc_alert_box {
	background: none repeat scroll 0 0 rgb(255, 255, 255);
	height: auto;
	margin: 0 auto;
	padding: 20px;
	position: relative;
	text-align: center;
	top: 20%;
	width: 280px;
    border-radius: 15px;
	box-shadow: 0 10px 8px rgba(100, 100, 100, 0.9);
}

.woc_alert_box_container .woc_alert_box .alert_box_close{
    font-size: 35px;
    color: #3A3A36;
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
}

.woc_alert_box_container .woc_alert_box .alert_box_close:hover{
    font-size: 35px;
    color: #DD3333;
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
}

.woc_alert_box_container .woc_alert_box .fa-exclamation-triangle{
    font-size: 50px;
    color: #86860F;
}

.woc_alert_box_container .woc_alert_box .alert_box_message{
    padding: 15px;
    font-size: 20px;
    color: red;
}

